.carousel-container {
    background-color: gray;
    height: 500px;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    transition: background-image 1s ease-in-out;
}

.carousel-lines {
    
    .line {
        height: 6px;
        min-width: 26px;
        padding: 0;
    }

    button:not(:first-child) {
        margin-left: 5px;
    }
}

.carousel-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        font-weight: bold;
        font-size: 40px;
        text-shadow: 2px 2px 8px #000000;
        color: white;
    }

    p {
        margin-top: 30px;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 2px 2px 8px #000000;
        color: white;
    }

}

