.card-container {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0;
    min-width: 200px;

    img {
        object-fit: cover;
        height: 100%;
        width: 50%;
    }
}