<div class="container-cards">
    <mat-card class="card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="m-5-0-0-0">
            <mat-icon class="icon">memory</mat-icon>
            <h3>Title</h3>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <button mat-button>Read More</button>
        </mat-card-content>
      </mat-card>
</div>