.card-line-container {
    background-color: #ffc107;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .item {
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 25px;
        margin: 0;
    }

    .separator {
        height: 5px;
        width: 80px;
        background-color: #000000c2;
        border-radius: 2px;
    }
}
